*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif",Verdana;
}
body{
    /* background: linear-gradient(to top right, #33ccff 0%, #0066cc 100%); */
    /* background-color: blue; */
}
.border{
    border: 1px solid black;
}
nav{
    width: 100%;
    height:65px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav h1{
    font-size: 30px;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    position: relative;
}
nav li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    left:0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}
nav li a:hover::after{
    width: 100%;
}
nav button{
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background: green;
    border-radius: 30px;
}
#checkbtn{
    font-size: 25px;
    padding-left: 10px;
    display: none;
}
#checkbox{
    display: none;
}
.show{
    left: 0px;
}

@media(max-width:768px){
    nav{
        padding: 0px 40px;
    }
    
}
@media(max-width:676px){
    nav{
        padding: 0px 40px;
        position: relative;
    }
    nav div{
        width: 105%;
        position: absolute;
        top: 68px;
        left: -720px;
        flex-direction: column;
        gap: 10px;
        background: rgb(229, 226, 226);
        padding: 8px 0px;
        /* border: 1px solid black; */
    }
    nav ul{
        flex-direction: column;
        gap: 7px;
        text-align: center;
        /* border: 1px solid black; */
    }
    nav li{
        /* border: 1px solid black; */
    }
    #checkbtn{
        display: block;
    }
    nav button{
        font-size: 13px;
    }
}
@media(max-width:576px){
    nav{
        padding: 0px 30px;
    }

}
@media(max-width:472px){
    nav{
        padding: 0px 40px;
    }
    /* nav button{
        display: none;
    } */

}
@media(max-width:320px){
    nav{
        padding: 0px 20px;
    } 
}
/* section */
section{
    width: 100%;
    padding: 0px 80px;
    display: flex;
}
.left_section{
    flex: 50%;
    padding: 20px 10px;
    margin-top: 50px;
}
.developer_text{
    margin-bottom: 2px;
}
.hello_text{
    margin-bottom: -2px;
    font-size: 55px;
}
.name_text{
    margin-bottom: 4px;
    color: green;
    font-size: 55px;
}
.desc_text{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(116, 121, 116);
}
.download_logo{
    display: flex;
}
.download_logo .fa-download,.fa-linkedin,.fa-github,.fa-twitter{
    color: #1e7c04;
    cursor: pointer;
}

.download_logo .button_div{
    flex: 25%;
    padding: 4px 0px;
    color: #1e7c04;
}
.download_logo .button_div button{
    padding: 8px 16px;
    font-size: 15px; 
    border-radius: 30px;
    border: 1px solid #1e7c04;
    color: #1e7c04;
    background: white;
    outline: none;
    cursor: pointer;
}

.download_logo .logo{
    flex: 75%;
    display: flex;
    font-size: 22px;
    gap: 15px;
    padding: 4px 15px;
}
.download_logo .logo span{
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 8px;
}
.right_section{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.profile_image{
    width: 250px;
    height: 250px;
    background-image: url(images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
@media(max-width:1487px){
    section{
        padding: 0px 70px;
    }
    .left_section{
        flex: 60%;
    }
    .right_section{
        flex: 40%;
    }
}
@media(max-width:1260px){
    .download_logo .button_div{
        flex: 35%;
    }
    .download_logo .logo{
        flex:65%;
    }
}
@media (max-width:958px) {
    section{
        padding: 0px 50px;
    }
    .hello_text{
        font-size: 40px;
    }
    .name_text{
        font-size: 40px;
    }
}
@media (max-width:920px) {
    section{
        padding: 0px 35px;
    }
    .profile_image{
        width: 200px;
        height: 200px;
    }
    .left_section{
        flex: 65%;
    }
    .right_section{
        flex: 35%;
    }
    .download_logo .button_div{
        flex: 40%;
    }
    .download_logo .logo{
        flex: 60%;
    }
    .hello_text{
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
}
@media(max-width:676px){
    section{
        flex-direction: column;
        padding: 0px 60px;
    }
    
    .hello_text{
        font-size: 45px;
    }
    .name_text{
        font-size: 45px;
    }
    .left_section{
        order: 2;
    }
    .right_section{
        order: 1;
    }
    .download_logo{
        margin-top: 10px;
    }
    .download_logo .button_div{
        flex: 50%;
    }
    .download_logo .logo{
        flex: 50%;
    }
}
@media(max-width:576px){
    section{
        width: 100%;
        padding: 0px 30px;
        display: flex;
    }
    .hello_text{
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
    .download_logo .button_div{
        flex: 50%;
    }
    .download_logo .button_div button{
        padding: 8px 12px;
        font-size: 12px; 
    }
    .download_logo .logo{
        flex: 50%;
        display: flex;
        font-size: 18px;
        gap: 15px;
        padding: 4px 12px;
    }
}
@media(max-width:392px){
    section{
        width: 100%;
        padding: 0px 25px;
        display: flex;
    }
    .download_logo{
        flex-direction: column;
        text-align: center;
    }
    .download_logo .logo{
        justify-content: center;
    }
    .hello_text{
        margin-bottom: -2px;
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
    .profile_image{
        width: 220px;
        height: 220px;
    }
}
