*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif",Verdana;
}

.border{
    border: 1px solid black;
}
nav{
    width: 100%;
    height:65px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
nav h1{
    font-size: 30px;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: black;
    position: relative;
}
nav li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    left:0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}
nav li a:hover::after{
    width: 100%;
}
nav button{
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background: green;
    border-radius: 30px;
}
#checkbtn{
    font-size: 25px;
    padding-left: 10px;
    display: none;
}
#checkbox{
    display: none;
}
.show{
    left: 0px;
}

@media(max-width:768px){
    nav{
        padding: 0px 40px;
    }
    
}
@media(max-width:676px){
    nav{
        padding: 0px 40px;
        position: relative;
    }
    nav div{
        width: 105%;
        position: absolute;
        top: 68px;
        left: -720px;
        flex-direction: column;
        gap: 10px;
        background: rgb(229, 226, 226);
        padding: 8px 0px;
    }
    nav ul{
        flex-direction: column;
        gap: 7px;
        text-align: center;
    }
    #checkbtn{
        display: block;
    }
    nav button{
        font-size: 13px;
    }
}
@media(max-width:576px){
    nav{
        padding: 0px 30px;
    }

}
@media(max-width:472px){
    nav{
        padding: 0px 40px;
    }
    

}
@media(max-width:320px){
    nav{
        padding: 0px 20px;
    } 
}
/* section */
section{
    width: 100%;
    padding: 0px 80px;
    display: flex;
    margin-top:60px;
}
.left_section{
    flex: 50%;
    padding: 20px 10px;
    margin: 50px 0px;
    
}
.developer_text{
    margin-bottom: 2px;
}
.hello_text{
    margin-bottom: -2px;
    font-size: 55px;
}
.name_text{
    margin-bottom: 4px;
    color: green;
    font-size: 55px;
}
.desc_text{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(116, 121, 116);
}
.download_logo{
    display: flex;
}
.download_logo .fa-download,.fa-linkedin,.fa-github,.fa-twitter{
    color: #1e7c04;
    cursor: pointer;
}

.download_logo .button_div{
    padding: 4px 0px;
    color: #1e7c04;
}
.download_logo .button_div button{
    padding: 8px 16px;
    font-size: 15px; 
    border-radius: 30px;
    border: 1px solid #1e7c04;
    color: #1e7c04;
    background: white;
    outline: none;
    cursor: pointer;
}

.download_logo .logo{
    display: flex;
    font-size: 22px;
    gap: 15px;
    padding: 4px 15px;
}
.download_logo .logo span{
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 8px;
}
.right_section{
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}
.profile_image{
    width: 250px;
    height: 250px;
    background-image: url(images/profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
@media(max-width:1487px){
    section{
        padding: 0px 70px;
    }
    .left_section{
        flex: 60%;
    }
    .right_section{
        flex: 40%;
    }
}

@media (max-width:958px) {
    section{
        padding: 0px 50px;
    }
    .hello_text{
        font-size: 40px;
    }
    .name_text{
        font-size: 40px;
    }
}
@media (max-width:920px) {
    section{
        padding: 0px 35px;
    }
    .profile_image{
        width: 200px;
        height: 200px;
    }
    .left_section{
        flex: 65%;
    }
    .right_section{
        flex: 35%;
    }
    .hello_text{
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
}
@media (max-width:716px) {
    .download_logo .button_div button{
        font-size: 13px;
    }
}
@media(max-width:676px){
    section{
        flex-direction: column;
        width: 70%;
        padding: 0px 0px;
        margin: 0px auto;
    }
    
    .hello_text{
        font-size: 45px;
    }
    .name_text{
        font-size: 45px;
    }
    .left_section{
        order: 2;
    }
    .right_section{
        order: 1;
    }
    .download_logo{
        margin-top: 10px;
    }
    
}
@media(max-width:576px){
    section{
        width: 100%;
        padding: 0px 30px;
        display: flex;
    }
    .hello_text{
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
    
    .download_logo .button_div button{
        padding: 8px 12px;
        font-size: 12px; 
    }
    .download_logo .logo{
        display: flex;
        font-size: 18px;
        gap: 15px;
        padding: 4px 12px;
    }
}
@media(max-width:392px){
    section{
        width: 100%;
        padding: 0px 10px;
        display: flex;
    }
    .download_logo{
        gap: 8px;
    }
    .download_logo .button_div{
        padding: 4px 0px;
    }
    .download_logo .logo{
        padding: 4px 0px;
    }
    .hello_text{
        margin-bottom: -2px;
        font-size: 35px;
    }
    .name_text{
        font-size: 35px;
    }
    .profile_image{
        width: 220px;
        height: 220px;
    }
}
@media (max-width:336px) {
    .download_logo{
        flex-direction: column;
        gap: 5px;
    }
    .download_logo .button_div button{
        width: 100%;
    }
    .download_logo .logo{
        display: flex;
        justify-content: space-evenly;
    }
}
    /* skills */
.bio_container{
    padding: 0px 80px;
}
.bio_wrapper{
    margin: 20px 0px;
    display: flex;
    height: 60vh;
}
.bio_left_part{
    flex: 30%;
    border-top: 1px solid rgb(217, 212, 212);
    border-bottom: 1px solid rgb(217, 212, 212);
    padding-top:40px ;
}
.bio_right_part{
    flex: 70%;
    border-top: 1px solid rgb(217, 212, 212);
    border-bottom: 1px solid rgb(217, 212, 212);
    overflow: auto;
    padding-top:40px ;
}
.bio_left_part_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px 10px;
}
.category_tab{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #1e7c04;
    border: 1px solid #1e7c04;
    font-size: 14px;
}
.active_link{
    color: white;
    background: #43d51b;
}
.bio_right_content{
    display: none;
    width: 95%;
    margin: 2px auto;
}
.active_tab{
    display: block;
}
.experience_tab{
    margin: 10px 0px;
}
.experience_tab p{
    line-height: 26px;
    word-spacing: 5px;
}
.project_tab{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 20px;
    margin: 15px 0px;
}
.project{
    /* width: 270px; */
    padding: 10px 15px;
    background: #262626;
    color: white;
    border-radius: 10px;
    transition: all 0.3s linear;
}
.project:hover{
    transform: translateY(-8px);
    background: #ff004f;
    color: white;
}
.project_name{
    font-weight: 700;
}
.project_desc{
    font-size: 14px;
    margin: 5px 0px;
}
.project_read_more{
    cursor: pointer;
}
.education_tab{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 20px;
    margin: 15px 0px;
}
.skills_tab{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    gap: 15px;
    margin: 15px 0px;
}
.skills_tab span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.fa-react{
    animation: rotate 4s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(-360deg);
    }
}

.skills_tab span i{
    font-size: 50px;
}
.about_tab{
    margin: 10px 0px;
}
.about_tab p{
    line-height: 26px;
    word-spacing: 5px;
}
@media (max-width:1096px) {
    .bio_container{
        padding: 0px 50px;
    }
    .bio_wrapper{
        flex-direction: column;
    }
    .category_tab{
        padding: 0px 18px;
        font-size: 14px;
    }
    
}
@media (max-width:768px) {
    .bio_container{
        padding: 0px 30px;
    }
    .bio_wrapper{
        flex-direction: column;
        height: 80vh;
    }
    .category_tab{
        padding: 0px 18px;
        font-size: 14px;
    }  
}

/* contact */
.contact_container{
    padding: 0px 80px;
    margin: 50px 0px;
}
.contact_wrapper{
    display: flex;
}
.left_contact_part{
    flex: 50%;
    padding: 10px 15px;
}
.left_contact_part div{
    margin: 10px 0px;
}
.left_contact_part label{
    display: flex;
    gap: 10px;
    margin: 7px 0px;
}
.right_contact_part{
    flex: 50%;
    padding: 10px 15px;
}
.contact_container form{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin: 10px 0px;
}
.contact_container form input,textarea{
    padding: 10px 12px;
    font-size: 15px;
    outline: none;
    border: none;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),inset -4px -4px 6px -1px rgba(255,255,255,1),0.5px 0.5px 0px rgba(0,0,0,0.15),-0.5px -0.5px 0px rgb(255,255,255,1),0px 12px 10px -10px rgba(0,0,0,0.05);
}
.contact_container form button{
    width: 20%;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ff004f;
    background: white;
    color: #ff004f;
    transition: 0.3s;
}
.contact_container form button:hover{
    background: #ff004f;
    color: white;
}
@media (max-width:992px) {
    .contact_container{
        padding: 0px 30px;
    }
    .contact_container form button{
        width: 40%;
    }
    .contact_heading{
        font-size: 24px;
    }
}
@media (max-width:768px) {
    .contact_container{
        padding: 0px 30px;
    }
    .contact_container form button{
        width: 40%;
    }
    .contact_heading{
        font-size: 20px;
    }
}
@media (max-width:576px) {
    .contact_container{
        padding: 0px 30px;
    }
    .contact_wrapper{
        flex-direction: column;
    }
    .left_contact_part{
        order: 2;
    }
    .right_contact_part{
        order: 1;
        text-align: center;
    }
    .contact_container form button{
        width: 30%;
    }
    .contact_heading{
        font-size: 25px;
    }
    
}
@media (max-width:350px) {
    .contact_container form button{
        width: 40%;
    }
    .contact_heading{
        font-size: 20px;
    }
}